@{
    ViewBag.Title = "About";
}
<h2>About Us</h2>

<img alt="Box" height="300" src="~/Assets/images/Box.jpg" style="float: right" width="300">

<p>
    PS Restaurent aims to provide the most unique variety of food options to the global market. We will provide on-demand sweet services while customer were waiting their food.
</p>
<p>Since its inception in 1996, the PS_Store has continued to earn parise for its consistent delivery of the chinese food and setting at competitive prices. In fact, despite the growth of the PS_Store franchise chain over the years, we’ve remained dedicated and true to the core business principles of the first ever PS_Store location.</p>
<p>Business Rules</p>
<p>Customer must be over 19 years old to get the Alcoholic beverage</p>
<p>Membership can enjoy 10% discount when making payment</p>
<p>Business Rules for employee</p>
<p>Keep the work clothes tidy and uniform every day</p>
<p>Be polite to every guest</p>
<p>Services should be treated equally</p>
