@{
    ViewBag.Title = "Contact";
}
<h2>Contact Us</h2>
<h3>More information od our store</h3>

<address>
    42 Glendennan Avenue<br />
    Markham, ON <br />
    <abbr title="Phone">P:</abbr>
    416-777-7877
</address>
<h1>
    <img src="~/Assets/images/map.png" height="400" width="700" />
</h1>
<strong>Customer Service:</strong><a href="mailto:PSResturant@Gamil.com"> PSResturant@Gamil.com</a><br />
<strong>Take Out:</strong><a href="mailto:PSResturant@Gamil.com"> Takeout@Gamil.com</a><br />

